# Terraform dot files
.terraform
.terraformrc
**/.terraform/*
.terraform.d
*.tfstate
*.tfstate.*
terraform/terraform_bin
./terraform/terraform.tfstate
./terraform/terraform.tfstate.backup
./terraform/openrc.sh
terraform/.terraform.lock.*


# Dynamic inventory
ansible/inventory.yml
ansible/terraform.tfstate
ansible/cleanup_playbook.yml

# Just in case
openrc.sh
**/openrc.sh
*.sh
