# Terraform dot files
.terraform
.terraformrc
**/.terraform/*
.terraform.d
*.tfstate
*.tfstate.*
terraform/terraform_bin

# Dynamic inventory
ansible/inventory.yml

# Just in case
openrc.sh
**/openrc.sh
*.sh
