<html>
    <head>
        <title>Hello World</title></head>
    <body style="background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);">
        <center><img style="width:500px;" src="http://placekitten.com/800/600"></img></center>
	<p>Mon user eductive{{ eductive }} : le meilleur ! </p>
        <h3> {{ ansible_facts.default_ipv4.address }} : IP de ce serveur </h3>
	<h3> {{ ansible_facts.ens4.ipv4.address }} : IP privé de ce serveur </h3>
	<h3> {{ ansible_facts.fqdn }} : FQDN de ce serveur </h3>
	<ul>
      		<li> Port 80 : NGINX on backend public IP</li>
      		<li> Port 81 : NGINX on backend private IP</li>
      		<li> Port 82 : WORDPRESS on backend private IP</li>
                <li> Port 8080  : monitoring on front public IP</li>
                <li> Port 8500 : Ifconfig  on backend private IP (accessible directly)</li>
    	</ul>
    </body>
</html>
